<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Salas
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Administrador
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            HV Salas
                        </span>
                    </a>
                </li>
            </ul>	
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet" id="m_portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                                <i class="flaticon-interface-1"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Hoja De Vida - Salas
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="row">
                            <div class="row">
                                <!-- nuevo card 1-->
                                    <div class="card" style="width: 18rem;">
                                            <img class="card-img-top" src="assets/app/media/img/bg/ingenieria.jpg" alt="Card image cap">
                                            <div class="card-body">
                                              <h5 class="card-title">Ingenieria</h5>
                                              <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                     Especificaciones
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <ul class="list-group">
                                                                    <li class="list-group-item">Modelo- HP OnlineOne</li>
                                                                    <li class="list-group-item disabled">windows 10 x64</li>
                                                                    <li class="list-group-item">DD 500GB</li>
                                                                    <li class="list-group-item">Procesador: core i5- 6G</li>
                                                                  </ul>
                                                    </div>
                                                  </div>
                                                  <ul class="list-group">
                                                        <li class="list-group-item disabled active">Software</li>
                                                        <li class="list-group-item">packet tracer</li>
                                                        <li class="list-group-item">netbeans</li>
                                                        <li class="list-group-item">office 365</li>
                                                        <li class="list-group-item">photoshop cs6</li>
                                                        <li class="list-group-item">Android Stdio</li>
                                                      </ul>
                                            </div>
                                          </div>

                                          <!--nuevo card 2-->
                                          <div class="card" style="width: 18rem;">
                                                <img class="card-img-top" src="assets/app/media/img/bg/teleco.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                  <h5 class="card-title">Telecomunicaciones</h5>
                                                  <div class="dropdown">
                                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                         Especificaciones
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                <ul class="list-group">
                                                                        <li class="list-group-item">Modelo- Dell Inspiron 24-300</li>
                                                                        <li class="list-group-item disabled">windows 10 x64</li>
                                                                        <li class="list-group-item">DD 1TB</li>
                                                                        <li class="list-group-item">Procesador: core i7- 7G</li>
                                                                      </ul>
                                                        </div>
                                                      </div>
    
                                                      <ul class="list-group">
                                                            <li class="list-group-item disabled active">Software</li>
                                                            <li class="list-group-item">packet tracer</li>
                                                            <li class="list-group-item">Itil</li>
                                                            <li class="list-group-item">office 365</li>
                                                            <li class="list-group-item">Sap</li>
                                                            <li class="list-group-item">Screencast</li>
                                                          </ul>
                                                </div>
                                              </div>
                                              <!-- nuevo car 3 -->
                                              <div class="card" style="width: 18rem;">
                                                    <img class="card-img-top" src="assets/app/media/img/bg/bg-41.png" alt="Card image cap">
                                                    <div class="card-body">
                                                      <h5 class="card-title">Comunicacion</h5>
                                                      <div class="dropdown">
                                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                             Especificaciones
                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                    <ul class="list-group">
                                                                            <li class="list-group-item">Modelo- HP OnlineOne</li>
                                                                            <li class="list-group-item disabled">windows 10 x64</li>
                                                                            <li class="list-group-item">DD 1TB</li>
                                                                            <li class="list-group-item">Procesador: core i7- 6G</li>
                                                                          </ul>
                                                            </div>
                                                          </div>
        
                                                          <ul class="list-group">
                                                                <li class="list-group-item disabled active">Software</li>
                                                                <li class="list-group-item">Recording Studio</li>
                                                                <li class="list-group-item">Sound Editor</li>
                                                                <li class="list-group-item">office 365</li>
                                                                <li class="list-group-item">Paquete Adobe</li>
                                                                <li class="list-group-item">Media Composer</li>
                                                              </ul>
                                                    </div>
                                                  </div>
                                                  <!--nuevo card 4 -->
                                                  <div class="card" style="width: 18rem;">
                                                        <img class="card-img-top" src="assets/app/media/img/bg/comercio.jpg" alt="Card image cap">
                                                        <div class="card-body">
                                                          <h5 class="card-title">Comercio</h5>
                                                          <div class="dropdown">
                                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                 Especificaciones
                                                                </button>
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                        <ul class="list-group">
                                                                                <li class="list-group-item">Modelo- HP OnlineOne</li>
                                                                                <li class="list-group-item disabled">windows 10 x64</li>
                                                                                <li class="list-group-item">DD 500 GB</li>
                                                                                <li class="list-group-item">Procesador: core i7- 6G</li>
                                                                              </ul>
                                                                </div>
                                                              </div>
            
                                                              <ul class="list-group">
                                                                    <li class="list-group-item disabled active">Software</li>
                                                                    <li class="list-group-item">google Chrome</li>
                                                                    <li class="list-group-item">paquete Adobe</li>
                                                                    <li class="list-group-item">office 365</li>
                                                                    
                                                                  </ul>
                                                        </div>
                                                      </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
