<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Bitacora
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Informes
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Bitacora
                        </span>
                    </a>
                </li>
            </ul>	
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet" id="m_portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                                <i class="flaticon-network"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Registro Bitacora
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                        <form>
                            <div class="form-group row justify-content-around">
                                <div class="form-group">
                                  <label for="exampleInputEmail1">fecha</label>
                                  <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
                                </div>
                                <div class="form-group row ">
                                        <div class="form-check form-check-inline">
                                                <label for="exampleInputEmail1 mr-2">Turno</label>
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label" for="inlineRadio1">Mañana</label>
                                              </div>
                                              <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label" for="inlineRadio2">Tarde</label>
                                              </div>
                                              <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                    <label class="form-check-label" for="inlineRadio2">Noche</label>
                                                  </div>
                                </div>
                            </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1">Salas</label>
                                  <input type="number" class="form-control" id="exampleInputPassword1" placeholder="numero sala">
                                </div>
                                <div class="form-group">
                                        <label for="exampleInputPassword1">Equipos</label>
                                        <input type="number" class="form-control" id="exampleInputPassword1" >
                                      </div>

                                      <div class="form-group">
                                            <label for="inputState">Limpieza</label>
                                            <select id="inputState" class="form-control">
                                             <option selected>...</option>
                                              <option selected>SI</option>
                                              <option>NO</option>
                                              <option >PENDIENTE</option>
                                            </select>
                                          </div>

                                          <div class="form-group">
                                                <label for="inputState">Video Beams</label>
                                                <select id="inputState" class="form-control">
                                                 <option selected>...</option>
                                                  <option selected>SI</option>
                                                  <option>NO</option>
                                                  
                                                </select>
                                              </div>

                                              <div class="form-group">
                                                    <label for="inputState">Cables</label>
                                                    <select id="inputState" class="form-control">
                                                     <option selected>...</option>
                                                      <option selected>SI</option>
                                                      <option>NO</option>
                                                      
                                                    </select>
                                                  </div>

                                                  <div class="form-group">
                                                        <label for="inputState">TV</label>
                                                        <select id="inputState" class="form-control">
                                                         <option selected>...</option>
                                                          <option selected>SI</option>
                                                          <option>NO</option>
                                                          
                                                        </select>
                                                      </div>

                                                      <div class="form-group">
                                                            <label for="inputState">Cables</label>
                                                            <select id="inputState" class="form-control">
                                                             <option selected>...</option>
                                                              <option selected>SI</option>
                                                              <option>NO</option>
                                                              
                                                            </select>
                                                          </div>
                                                          <div class="form-group">
                                                                <label for="exampleFormControlTextarea1">Observaciones</label>
                                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                              </div>
                                
                                <button type="submit" class="btn btn-primary">Enviar</button>
                              </form>
                </div>
            </div>
        </div>
    </div>
</div>
